<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="QueueLogbackAppender" class="com.example.demo.logback.QueueLogbackAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </layout>
        <defined>test defined....</defined>
    </appender>

    <root level="INFO">
        <appender-ref ref="QueueLogbackAppender" />
    </root>
</configuration>